
@model MyPortfolio.Pages.Projects._ProjectInfoModel
@{
}
<h4 class="text-4 font-weight-600 text-white">Project Info:</h4>
<p class="text-white-50">@Model.Description</p>
<h4 class="text-4 font-weight-600 text-white mt-4">Project Details:</h4>
<ul class="list-style-2 list-style-light text-white-50">
    <li><span class="text-light font-weight-600 me-2">Users:</span>@Model.Users</li>
    <li><span class="text-light font-weight-600 me-2">From:</span>@Model.From</li>
    <li><span class="text-light font-weight-600 me-2">To:</span>@Model.To</li>
    <li><span class="text-light font-weight-600 me-2">Problem:</span>@Model.Problem</li>
    <li><span class="text-light font-weight-600 me-2">Solution:</span>@Model.Solution</li>
    <li><span class="text-light font-weight-600 me-2">My Involvement:</span>@Model.MyInvolvement[0]
        @for (int i = 1;i < Model.MyInvolvement.Count(); i++)
        {
            <div class ="project-list-indent">@Model.MyInvolvement[i]</div>
        }
    </li>
            


    <li>
        <span class="text-light font-weight-600 me-2">URL:</span><a href="@Model.Urls[0]" target="_blank">@Model.Urls[0]</a>
        @for (int i = 1; i < Model.MyInvolvement.Count(); i++)
        {
            <a class="project-list-indent" href="@Model.Urls[i]">@Model.Urls[i]</a>
        }
    </li>
</ul>