
@model MyPortfolio.Pages.Shared._SectionHeadingModel
@{
}


                            
<!-- Heading -->
<div class="position-relative d-flex text-center mb-@Model.MarginBottom mt-@Model.MarginTop">
    <h2 class="@Model.SectionTitleClasses()">@Model.SectionTitle</h2>
    <p class="@Model.TitleClasses()">
        @Model.Title
    <span class="@Model.UnderLineClasses()"></span> </p>
</div>
<!-- Heading end-->